.container {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.table {
  width: 70%;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 0.75rem 1.25rem;
  white-space: nowrap;
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.btn i {
  vertical-align: middle;
}
